@import url('utilities.css');
:root {
    --color_1: #000000;
    --color_3: #282C2F;
    --color_2: #222326;
    --color_4: #393D40;
    --color_5: #7D848A;
    --color_6: #D9D9D9;
    --color_7: #f2f2f2;
    --color_8: #FF565D;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
}

html {
    scroll-behavior: smooth;
}

.container {
    max-width: 1652px;
    padding: 0 15px;
    margin: 0 auto;
    overflow: hidden;
}
menu.right {
    top: 0;
    z-index: 5;
    position: fixed;
    left: 90%;
    transform: translate(-90%);
    width: 6%;
    height: 100vh;
    background-color: transparent;
}

menu.right .profile {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

menu.right .profile a>img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: contain;
}

header {
    text-transform: uppercase;
    color: var(--color_7);
    background-color: var(--color_2);
    height: 57rem;
    background-size: cover;
}

nav {
    padding: 1rem;
}

nav h1 {
    font-size: 1rem;
    text-align: center;
}

.baner .baner_text {
    padding: 10rem 0rem;
    position: relative;
    z-index: 1;
    text-decoration: none;
}

.baner .baner_text a {
    text-decoration: none;
    color: var(--color_7);
}

.baner .baner_text h4 {
    font-size: 4rem;
    font-weight: 400;
    margin-bottom: -5.5rem;
}

.baner .baner_text h1 {
    font-size: 15rem;
    font-weight: 600;
    margin-left: -0.5rem;
    text-decoration: none;
}

.baner .baner_text h1:nth-child(1) {
    margin-bottom: -7.5rem;
}

.baner .baner_text a:nth-child(2):before {
    text-decoration: none;
    content: "";
    position: absolute;
    left: 100%;
    top: 90%;
    transform: translateX(-100%);
    height: 1px;
    width: 20rem;
    border-bottom: 5px solid var(--color_8);
}

.baner .baner_image img {
    position: absolute;
    margin-top: -1rem;
    margin-left: -27rem;
    z-index: 0;
    width: 56.7%;
}

section.about {
    padding: 20rem;
}

section.about h1 {
    position: absolute;
    margin-left: 30%;
    margin-top: 2rem;
}

section.about .image {
    position: relative;
    height: 35rem;
    width: 155vmax;
}

section.about .image .img_1 img,
section.about .image .img_2 img,
section.about .image .img_3 img,
section.about .image .img_4 img,
section.about .image .img_5 img,
section.about .image .img_6 img,
section.about .image .img_7 img {
    position: absolute;
}

section.about .image .img_5 img {
    z-index: 5;
    height: 34.5rem;
}

section.about .image .img_2 img {
    z-index: 2;
    height: 13rem;
    bottom: 0;
    margin-left: 11rem;
    margin-bottom: 2rem;
}

section.about .image .img_6 img {
    z-index:10 ;
    height: 12rem;
    bottom: 0;
    left: 0;
}

section.about .image .img_7 img {
    z-index: 10;
    height: 10rem;
    bottom: 0;
    margin-left: 10rem;
}

section.about .image .img_4 img {
    z-index: 3;
    width: 15rem;
    bottom: 0;
    margin-left: 9rem;
    margin-bottom: 1rem;
}

section.about .image .img_1 img {
    height: 14rem;
    top: 0;
    margin-left: 13rem;
    margin-bottom: 0.5rem;
}

section.about .image .img_3 img {
    height: 17rem;
    top: 0;
    margin-top: 6rem;
    margin-left: 0rem;
}

section.about .about_text {
    text-align: justify;
    width: max-content;
}

section.about .about_text h3 {
    color: var(--color_2);
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 12rem;
    margin-bottom: 1.5rem;
}

section.about .about_text button {
    position: absolute;
    right: 0;
    margin-right: 8rem;
    margin-top: 6rem;
}

section.specializtion {
    border-top: 1px solid var(--color_5);
    padding: 10rem;
}

section.specializtion h1 {
    z-index: 15;
    text-align: right;
    left: 50%;
}

section.specializtion img {
    height: 40rem;
}

section.specializtion .info,
section.video .info {
    color: var(--color_2);
    position: relative;
}

section.specializtion .info h2 {
    position: absolute;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 9rem;
    bottom: 0;
    margin-left: -4rem;
}

section.specializtion .info h2:before {
    content: "";
    position: absolute;
    left: 0;
    top: 100%;
    height: 1px;
    width: 50rem;
    border-bottom: 2px solid var(--color_2);
}

section.specializtion .info p {
    font-size: 1rem;
    margin-top: 31.5rem;
    top: 0;
    font-weight: 400;
    margin-left: -2rem;
}

section.video {
    border-top: 1px solid var(--color_5);
    padding: 10rem;
    position: relative;
}

section.video:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 30rem;
    background-color: var(--color_6);
    left: 0;
    bottom: 0;
    clip-path: polygon(0 69%, 0% 100%, 100% 100%);
}

section.video h2 {
    z-index: 20;
    font-size: 3rem;
    color: var(--color_2);
    font-weight: 600;
}

section.video .video_1 img,
section.video .video_2 img {
    width: 40%;
    cursor: pointer;
}

section.video .video_1 {
    transform: translateX(50%);
}

section.video .video_2 {
    transform: translateX(20%);
    margin-top: 3rem;
}

section.video .video_1 .info h2,
section.video .video_2 .info h2 {
    position: absolute;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 4rem;
    bottom: 0;
}

section.video .video_2 .info h2 {
    margin-left: -4rem;
}

section.contact {
    padding: 8rem;
    height: 40vmax;
    background-color: var(--color_2);
    position: relative;
}

section.contact .box {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 128vmax;
    background-color: var(--color_3);
    left: 0;
    bottom: 0;
    clip-path: polygon(0 69%, 0% 100%, 100% 100%);
}

section.contact .contact_info,
section.contact .social {
    position: absolute;
    padding: 5rem 0;
    text-align: center;
    color: var(--color_6);
    z-index: 2;
}

section.contact .contact_info {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

section.contact .contact_info h3,
section.contact .social h3 {
    font-size: 1rem;
    margin-bottom: 3rem;
}

section.contact .contact_info a {
    text-decoration: none;
    font-size: 5rem;
    cursor: pointer;
    color: var(--color_8);
}

section.contact .contact_info a:nth-child(2):hover {
    color: var(--color_6);
}

section.contact .contact_info a:nth-child(3) {
    font-size: 3rem;
    color: var(--color_6);
}

section.contact .contact_info p {
    margin-top: 1rem;
    font-size: 1.5rem;
}

section.contact .social {
    top: 90%;
    left: 55%;
    transform: translate(-90%, -55%);
}

section.contact .social h3 {
    margin-bottom: 1.5rem;
}

section.contact .social a {
    justify-content: center;
    cursor: pointer;
    font-size: 1.5rem;
    color: var(--color_6);
    margin-right: 1rem;
}

section.contact .social a:hover {
    color: var(--color_8);
}

footer {
    background-color: var(--color_6);
    text-align: center;
}

footer img {
    margin-top: 2rem;
    height: 20rem;
    bottom: 0;
}

footer .copyright {
    padding: 1rem;
    background-color: var(--color_7);
    height: 3rem;
}

footer .copyright p {
    margin-left: 2rem;
    font-size: 0.9rem;
    font-weight: 600;
    color: var(--color_2);
}

footer .copyright p a {
    text-decoration: none;
    color: var(--color_8);
}

footer .copyright p a:hover {
    color: var(--color_2);
}

footer .copyright .social {
    transform: translateX(430%);
}

footer .copyright .social a {
    margin-right: 1rem;
    color: var(--color_2);
}

footer .copyright .social a:hover {
    color: var(--color_8);
}