@import url('utilities.css');

:root {
    --color_1:#000000;
    --color_3:#282C2F;
    --color_2:#222326;
    --color_4:#393D40;
    --color_5:#7D848A;
    --color_6:#D9D9D9;
    --color_7:#f2f2f2;
    --color_8:#FF565D;
}

* {
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
}

body {
    text-transform: uppercase;
    background-color: var(--color_2);
}

.container {
    max-width: 1400px;
    padding: 0 15px;
    margin: 0 auto;
    overflow: hidden;
}

/* menuBar */

menu {
    z-index: 5;
    position: fixed;
    left: 0;
    top: 0;
    width: 6%;
    height: 100vh;
    background-color: transparent;
}

menu .hamburger-menu {
    margin-left: 5rem;
}

.hamburger-menu div {
    width: 35px;
    background: var(--color_7);
    height: 3px;
    margin: 8px 0;
    border-radius: 30px;
    transition: .6s;
}
menu.left {
    z-index: 99;
    margin:0 ;
    width: 10%;
    background-color: transparent;
    height: 100vh;
    margin-left: 0;
    transition: 2s ease-in-out linear;
}

menu.left .menu_list {
    position: absolute;
    display: none;
    width: 80%;
    margin-left: 8rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

menu.left .menu_list ul {
    list-style-type: none;
}

menu.left .menu_list ul a {
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    transition: 2s ease-in-out linear;
    color: var(--color_2);
}

menu.left .menu_list ul a:hover {
    color: var(--color_5);
}

.hamburger-menu {
    width: 40px;
    height: 40px;
    display: block;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: .6s all ease-in-out;
    cursor: pointer;
}


/* header section */
header {
    padding: 18px 0;
    position: fixed;
    width: 100%;
    z-index: 10;
    top: 0;
    background-color: transparent;
    text-align: center;
}

header nav a{
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--color_7);

}

section {
    padding: 0;
    background-color: var(--color_2);
}

/* middle display contant */
section.display {
    margin-top: 6rem;
    margin-bottom: 4rem;
}

section.display .card_wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
}

section.display .card_wrapper .card {
    width: auto;
    height: auto;
    position: relative;
}

section.display .card_wrapper .card2 {
    width: auto;
    height: auto;
    position: relative;
}

section.display .card_wrapper .card>a {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: contain;
}

section.display .card_wrapper .card>img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: contain;
}

section.display .card_wrapper .card2>img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: contain;
}

/* style only for card hover */
.hoverText {
    width: 100%;
    position: absolute;
    height: 100%;
}

.hoverText a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color_7);
    display: none;
    text-decoration: none;
}

.hoverText:hover img {
    opacity: 25%;
}

.hoverText:hover a {
    display: block;
    animation-name: show;
}

@keyframes show {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}

/* footer */
footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: transparent;
}

footer .info {
    color: var(--color_7);
    font-size: 0.8rem;
    width: 100%;
    padding: 2rem 2rem;
    font-weight: 500;
    position: relative;
}

footer .info .page_name {
    color: var(--color_7);
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    display: block;
}

footer .info .page_name:hover {
    font-size: 0;
}

footer .info .page_name:hover:before {
    font-size: 0.8rem;
    content: attr(data-hover);
    display: block
}

footer .info .count_slide {
    left: 5%;
    position: absolute;
}

footer .info .thumbnail {
    right: 5%;
    width: 20px;
    height: 20px;
    position: absolute;
    cursor: pointer;
}

footer .info .thumbnail>img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@media(max-width:1647px) {

        menu .hamburger-menu {
        margin-left: 0.5rem;
    }
}

@media(max-width:1550px) {

       menu {
        height: 6vh;
    }

    .hamburger-menu {
        top: 2%;
    }

    .hamburger-menu div {
        width: 28px;
        height: 3px;
        margin: 6px 0;
    }

    menu .hamburger-menu {
        margin-left: 1.5rem;
        margin-top: 16px;
    }
}
@media(max-width:1024px) {

    nav a {
        font-size: 1rem;
    }
    menu {
        height: 6vh;
    }

    .hamburger-menu {
        top: 2%;
    }

    .hamburger-menu div {
        width: 28px;
        height: 3px;
        margin: 6px 0;
    }

    menu .hamburger-menu {
        margin-left: 1.5rem;
        margin-top: 16px;
    }

    section.display .card_wrapper {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;
    }

    menu.left .menu_list {
        margin-left: 2rem;
        top: 50%;
        left: 20%;
        transform: translate(-20%, -50%);
    }

    .hoverText a {
        font-size: 1.8rem;
    }

    footer .info .thumbnail {
    width: 17px;
    height: 17px;
}

}

@media(max-width:576px) {
    nav a {
        font-size: 0.9rem;
    }

menu .hamburger-menu {
    margin-left: 0.5rem;
    margin-top: 23px;
}

    section.display .card_wrapper {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;
    }

    .hoverText a {
        font-size: 1rem;
    }

    footer .info {
        font-size: 0.6rem;
    }

}
